.parking-lot {
  margin: 30px;
  text-align: center;
}

.info-box {
  border: 2px solid #0056b3;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #e3f2fd;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically center */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the info box */
  max-width: 600px; /* Set a maximum width for the info box */
}

.parking-image {
  width: 100px; /* Set a fixed width for the image */
  height: 150px; /* Maintain aspect ratio */
  border-radius: 8px;
  margin-right: 15px; /* Space between image and content */
}

.info-content {
  flex: 1; /* Allow content to take remaining space */
  text-align: left; /* Align text to the left */
}

.info-box h2 {
  color: #0056b3;
  margin-bottom: 10px;
}

.info-box p {
  margin: 8px 0;
  font-weight: 500;
}

.book-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #00008B;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-button:hover {
  background-color:#00008B;
}

.slots-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.slot {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
}

.slot.available {
  background-color: green;
}

.slot.booked {
  background-color: red;
}
